@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://picsum.photos/200/300/?blur");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container header {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.container {
  background: conic-gradient(from 45deg, #ff00ff, #00ffff);
  box-shadow: 0px 0px 10px 5px #ff00ff, 0px 0px 10px 5px #00ffff inset;
  padding: 25px 35px;
  border-radius: 15px;
}

.container form {
  margin-top: 30px;
}

form .field {
  margin-bottom: 20px;
}

form .input-field {
  position: relative;
  height: 55px;
  width: 100%;
}

.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #d1d1d1;
}

.invalid input {
  border-color: #250907;
}

.input-field .show-hide {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
}

.field .error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #380c09;
  font-size: 13px;
  display: none;
}

.invalid .error {
  display: flex;
}

.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}

.create-password .error {
  align-items: flex-start;
}

.create-password .error-icon {
  margin-top: 4px;
}

.button {
  margin: 25px 0 6px;
}

.button input {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #0e4bf1;
}

.button input:active {
  opacity: 0.7;
}

#background {
  position: absolute;
  z-index: 0;
  display: block;
  min-height: 50%;
  min-width: 50%;
  color: yellow;
}

#content {
  position: absolute;
  z-index: 1;
}

#bg-text {
  color: lightgrey;
  font-size: 120px;
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
